hr {
    margin: 10px 0;
}

.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

.form_input {
    border-radius: 5px;
    border: solid 1px lightgray;
    background: gray;
    color: white;
    padding: 3px 5px;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-error {
    border: solid 1px red;
    background: darkred;
}

.form-error:focus {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.red {
    color: red;
    font-weight: bold;
}