{% extends 'base.html' %}

{% block title %}View tasks{% endblock %}
{% block search %}
    {% include 'partial/simple_search.html' %}
{% endblock %}
{% block contant %}
    <hr>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr>
    <form action="{% url 'multi_delete'%}" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col col-lg-6"><h1 class="pt-4"><b>IssueTask: </b></h1></div>
            <div class="col col-lg-6 pt-4 mt-2 type_battot_delete_all">
                <input class="btn btn-danger" type="submit" value="Удалить выбранные задачи">
            </div>
        </div>

    {% for task in task_list %}
        <div class="row">
            <div class="col col-lg-2">
                <label>
                    <input class="ml-4" type="checkbox" name="id" value="{{ task.pk }}">
                </label>
            </div>
            <div class="col col-lg-6">
                <h3><a href="{% url 'task_view' task.pk %}">№{{ task.pk }}. Status: <b>{{ task.status.get_status_display }}</b></a> </h3>
                <h3>Тип задачи: {% for type in task.type.all %}<b class="text-primary">{{ type.get_name_display }}</b>{% if not forloop.last%}, {% endif %}{% endfor %}</h3>
                    <p>Summary: {{ task.summary }} </p>
                    <p>Create time: {{ task.completion_time }}</p>
                    <p>Update_at: {{ task.update_at }}</p>
            </div>
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'task_update_view' task.pk %}" ><button type="submit"  class="btn btn-success">Update</button></a>
            </div>
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'task_delete_view' task.pk %}" ><button type="submit"  class="btn btn-danger">Delete</button></a>
            </div>
        </div>
        <hr>
    {% endfor %}

    </form>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr>
    <hr>
{% endblock %}
