{% extends 'project/../project_base.html' %}

{% block title %}View task{% endblock %}

{% block menu %}
    <li class="nav-item px-3">
        <a class="navbar-brand"  href="{% url 'project_view' issuetracker.project.pk %}" >To Project</a>
    </li>
<li class="nav-item px-3">
    <a class="navbar-brand"  href="{% url 'task_delete_view' issuetracker.pk %}" >Удалить</a>
</li>
<li class="nav-item px-3">
    <a class="navbar-brand"  href="{% url 'task_update_view' issuetracker.pk %}" >Редактировать</a>
</li>
{% endblock %}

{% block contant %}
<div class="col col-lg-6">
    <h1 class="pt-4"><b>Task: </b></h1>
    <h3>№{{ issuetracker.pk }}. Status: <b class="text-primary">{{ issuetracker.status.get_status_display }}</b></h3>
    <p>Тип задачи: {% for type in issuetracker.type.all %}<b class="text-primary">{{ type.get_name_display }}</b>{% if not forloop.last%}, {% endif %}{% endfor %}</p>

    <p>Summary : {{ issuetracker.summary }}</p>
    <p>Description:  </p>
    <pre>{{ issuetracker.description|linebreaks }}</pre>
    <p>Time to create: {{ issuetracker.completion_time }}</p>
    <p>Update_at : {{ issuetracker.update_at }}</p>
</div>
    <hr>
{% endblock %}

