{% extends 'project/../project_base.html' %}

{% block title %}View project{% endblock %}

{% block menu %}
    {% if user.is_authenticated %}
    <li class="nav-item px-3">
        <a class="navbar-brand" href="{% url 'task_add_view' project.pk %}">Добавить задачу</a>
    </li>
    {% endif %}
{% endblock %}

{% block contant %}
<div class="row">
    <div class="col col-lg-8 text-center">
        <h1 class="pt-5"><b>Project: №{{ project.pk }}.
            {% if user.is_authenticated %}
            <a href="{% url 'project_update' project.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
            <a href="{% url 'project_delete' project.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
            {% endif %}
        </b></h1>
        <h3> Name: <b class="text-primary"> {{ project.name }}</b></h3>
        <div class="box">
            <p >Description: </p>
            <hr>
            {{ project.description | linebreaks }}
        </div>
        <p><b>Start date: </b> {{ project.starts_date }} | <b> Finish date: </b> {{ project.finish_date }}</p>
    </div>
    <div class="col col-lg-3 box pl-3 mt-5 mr-1">
        <div class="row1">
            <b class="pt-5 pl-3 pr-5">Users:</b>
            <a class="pl-5" href="{% url 'update_users_in_project' project.pk %}">
            <button type="button"  class="btn btn-warning ">Update</button>
            </a>
        </div>
        <div class="row2">
            <hr>
            {% for user in users %}
            № {{ user.pk }} - {{ user.username }}<br>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div class="col col-lg-12 ">
    <h3>Tasks:</h3>
    <div class="row">
        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col col-lg-12">
    {% for task in issues %}
    <hr>
    <div class="row">
        <div class="col col-lg-6">
            <h3><a href="{% url 'task_view' task.pk %}">№{{ task.pk }}. Status: <b>{{ task.status.get_status_display }}</b></a> </h3>
            <h3>Тип задачи: {% for type in task.type.all %}<b class="text-primary">{{ type.get_name_display }}</b>{% if not forloop.last%}, {% endif %}{% endfor %}</h3>
                <p>Summary: {{ task.summary }} </p>
                <p>Create time: {{ task.completion_time }}</p>
                <p>Update_at: {{ task.update_at }}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="coL col-lg-1 mt-5">
            <a href="{% url 'task_update_view' task.pk %}" ><button type="submit"  class="btn btn-success">Update</button></a>
        </div>
        <div class="coL col-lg-1 mt-5">
            <a href="{% url 'task_delete_view' task.pk %}" ><button type="submit"  class="btn btn-danger">Delete</button></a>
        </div>
        {% endif %}
        <div class="coL col-lg-1 mt-5">
            <a href="{% url 'task_view' task.pk %}" ><button type="submit"  class="btn btn-warning"> View </button></a>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="col col-lg-12">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
</div>
    <hr>
{% endblock %}

