{% extends 'project/project_base.html' %}

{% block title %}View project{% endblock %}

{% block menu %}
    <li class="nav-item px-3">
        <a class="navbar-brand" href="{% url 'task_add_view' project.pk %}">Добавить задачу</a>
    </li>
{#<li class="nav-item px-3">#}
{#    <a class="navbar-brand"  href="{% url 'task_delete_view' task.pk %}" >Удалить</a>#}
{#</li>#}
{#<li class="nav-item px-3">#}
{#    <a class="navbar-brand"  href="{% url 'task_update_view' task.pk %}" >Редактировать</a>#}
{#</li>#}
{% endblock %}

{% block contant %}
<div class="col col-lg-12">
    <h1 class="pt-4"><b>Project: </b></h1>
    <h3>№{{ project.pk }}. Name: <b class="text-primary"> {{ project.name }}</b></h3>
    <p>Description: {{ project.description }}</p>
    <p>Start date: {{ project.starts_date }}</p>
    <p>Finish date: {{ project.finish_date }}</p>
    <hr>
    <h3>Tasks:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
            {% for task in issues %}
        <hr>
        <div class="row">
            <div class="col col-lg-6">
                <h3><a href="{% url 'task_view' task.pk %}">№{{ task.pk }}. Status: <b>{{ task.status.get_status_display }}</b></a> </h3>
                <h3>Тип задачи: {% for type in task.type.all %}<b class="text-primary">{{ type.get_name_display }}</b>{% if not forloop.last%}, {% endif %}{% endfor %}</h3>
                    <p>Summary: {{ task.summary }} </p>
                    <p>Create time: {{ task.completion_time }}</p>
                    <p>Update_at: {{ task.update_at }}</p>
            </div>
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'task_update_view' task.pk %}" ><button type="submit"  class="btn btn-success">Update</button></a>
            </div>
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'task_delete_view' task.pk %}" ><button type="submit"  class="btn btn-danger">Delete</button></a>
            </div>
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'task_view' task.pk %}" ><button type="submit"  class="btn btn-warning"> View </button></a>
            </div>
        </div>
        {% endfor %}
        <hr>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
</div>
    <hr>
{% endblock %}

