{% extends 'project/../project_base.html' %}

{% block title %}Users: {% endblock %}

{% block contant %}
    <hr>
<div class="row">
    <form action="{% url 'multi_update' project.pk %}" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col col-lg-8"><h2 class="pt-4"><b>Users in Project: </b></h2></div>
            {% if user.is_authenticated %}
            <div class="col col-lg-4 pt-4 mt-2 type_battot_delete_all">
                <input class="btn btn-danger" type="submit" name="button" value="Удалить пользователей">
            </div>
            {% endif %}
        </div>
        <hr>
    {% for user in project_users %}
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col col-lg-2">
                <label>
                    <input class="ml-4" type="checkbox" name="id" value="{{ user.pk }}">
                </label>
            </div>
            {% endif %}
            <div class="col col-lg-8">
                <p><b>Name:</b> {{ user.username }} </p>
            </div>
        </div>
        <hr>
    {% endfor %}
    </form>
</div>
    <hr>
<div class="row">
    <form action="{% url 'multi_update' project.pk %}" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col col-lg-8"><h2 class="pt-4"><b>All Users: </b></h2></div>
            {% if user.is_authenticated %}
            <div class="col col-lg-4 pt-4 mt-2 type_battot_delete_all">
                <input class="btn btn-success" type="submit" name="button" value="Добавить пользователей">
            </div>
            {% endif %}
        </div>
        <hr>
    {% for user in users_list %}
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col col-lg-2">
                <label>
                    <input class="ml-4" type="checkbox" name="id" value="{{ user.pk }}">
                </label>
            </div>
            {% endif %}
            <div class="col col-lg-6">
                <p><b>Name:</b> {{ user.username }} </p>
            </div>
        </div>
        <hr>
    {% endfor %}
    </form>
</div>
{% endblock %}